@import url("bootstrap");
@import url("bootstrap-icons");

/* generics */
nav,
footer {
  background-color: #e4752f;
}

main {
  background-color: bisque;
}

i {
  color: white;
  font-size: 1.2rem;
}

h2,
h3 {
  color: #e4752f
}

h5 {
  font-weight: bold;
}



.row>p {
  color: bisque;
}

/* header utils */

.nav-link.active {
  font-weight: bold;
}

.nav-link {
  color: white
}

.nav-link:hover {
  color: rgb(237, 237, 237)
}

/* main utils */
.welcome {
  width: 100%;
  height: 537px;
  object-fit: cover;
  object-position: 0 60%;
  position: relative;
}

.team {
  width: 100%;
  height: 100%;
}

.mission,
.story {
  margin-bottom: 100px;
  background-color: rgb(250, 186, 108);
  padding: 20px 10px;
}

.benvenuto {
  color: white;
  position: absolute;
  top: 55%;
  left: 25%
}

.product {
  width: 100%;
  height: 200px;
  margin: 10px 0 30px;
  object-fit: contain;
}

.card-content {
  background-color: rgb(250, 186, 108);
  padding: 1rem;
  height: 100%;
}

.card-img-top {
  width: 40%;
}

.card-image-top>img {
  height: 300px;
  padding-right: 20px;
}

.card-body>a {
  color: #ff6a0d;
}

.separatore {
  border: 1px;
  border-color: grey;
  border-style: solid;
  opacity: 0.25;
}

/* footer */

footer {
  color: white
}

li>a {
  color: white;
  text-decoration: none;
}