@import url("bootstrap");

/* header */
nav {
  background-color: #e4752f;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link {
  color: white
}

.nav-link:hover {
  color: rgb(237, 237, 237)
}

/* main */
img {
  width: 100%;
  height: 565px;
  object-fit: cover;
  object-position: 0 60%;
  position: relative;
}

.benvenuto {
  color: white;
  position: absolute;
  top: 60%;
  left: 25%
}